head
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  title About | help-uninformed-humans
    
  link(rel='apple-touch-icon' sizes='180x180' href='/public/images/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/public/images/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/public/images/favicon-16x16.png')
  link(rel='manifest' href='/public/images/site.webmanifest')
  link(rel='mask-icon' href='/public/images/safari-pinned-tab.svg' color='#5bbad5')
  link(rel='shortcut icon' href='/public/images/favicon.ico')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='msapplication-config' content='/public/images/browserconfig.xml')
  meta(name='theme-color' content='#ffffff')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-888FGYR7LX');

  style.
    @media only screen and (min-width: 1000px) {
    .responsive {
    
    }
    }
// Navigation
nav.navbar.navbar-expand-lg.navbar-light.static-top
  .container
    a.navbar-brand(href='/')
      img(src='../public/images/logo.jpg' alt='Logo' style='width:180px;')
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.navbar-collapse.collapse(style='')
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/list') | List
        li.nav-item.active
          a.nav-link(href='/about') | About
div(style='height:1px;background-color:RGB(237, 237, 237);')


div(style="width:80%;margin: auto; margin-top:2vh;")
    center
        p.lead.font-weight-normal
            | FAQ:
        p.lead.font-weight-small
            | Why not show the images directly on this site? <br>
            | Instagram has disallowed loading of the resource outside of their domain to protect their data usage. So these images are not able to display cross domain.
        hr
        p.lead.font-weight-normal
            | Contact:
        p.lead.font-weight-small
            | You can contact us at: benchmark.apphelp@gmail.com <br> We will be happy to help you with your enquiry.
        hr
        p.lead.font-weight-normal
            | Contribute to Machine-Learning Model:
        p.lead.font-weight-small
            | In order to get a prediction that an image contains sensitive info, a Machine Learning Model requires a dataset of images that the model can be trained on, in order to learn. You can contribute to the dataset of the Machine-Learing Model by sending images of people posing or holding their vaccination card/info. Your images are used to train the Model to be more percise. <b> Images will never be shared with anyone else. </b> <br>
            | Upload them into your cloud of choice and send a sharelink to the mail above. You can also contribute by scraping data, contact for more information. 
        hr
        p.lead.font-weight-normal
            | Donation List:
        p.lead.font-weight-small
            | This Webapp runs ads. <br>
            | 1. better Domain name ($0.80/month)<br> 
            | 2. premium Atlas Mongo Database Plan ( 20 USD /y )
        
        //a.btn.btn-outline-secondary(href='/list') to
        hr.my-4




script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
// Language: pug